---
layout: default
---

.container
  section#post.post
  header
    h1= document.title
  article.row
    .col-md-8.col-md-offset-2
      .post-content!= content

footer
  if document.relatedDocuments && document.relatedDocuments.length
    section#related
      h3 Related Posts
      nav.linklist
        each doc in document.relatedDocuments
          li
            span= doc.date.toDateString()
            |  &raquo;&nbsp;
            a(href=doc.url)= doc.title
